<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <H2>CURRICULUM VITAE</H2><HR>
    <h3>DATOS PERSONALES:</h3>
    <br>
    Nombre: Mateo Federico
    <br>
    Apellido: Bossio
    <br>
    Lugar de nacimiento: Cordoba 
    <br>e
    Nacimiento: 2/06/98
    <br>
    Estado civil: Soltero
    <br>
    DNI: 41264890
    <br>
    Direccion: Lascano Colodrero 2878
    <br>
    Telefono: 3513541545
    <br>
    E-mail: mateofbossio@gmail.com
    <br>
    <hr>
    <h3>FORMACION ACADEMICA:</h3>
    Primaria: Colegio Padre Claret
    <br>
    Secundario: Instituto Tecnico Salesiano Villada
    <br>
    Especiializacion: Programacion
    <br>
    <hr>
    <h3>EXPERIENCIA PROFESIONAL:</h3>
    <br>
    Tecnico Informatico de la familia
    <br>
    <hr>
    <h3>IDIOMAS:</h3>
    Espaniol
    <br>
    Ingles-5 anios
    <br>
    <hr>
    <h3>OTROS DATOS:</h3>
    Resposabilidad
    <br>
    Puntualidad
    <br>
    Respetuoso
    <br>
    <hr>
{% endblock %}