<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2> Las fotos de la semana: </h2>
    <img ALIGN=CENTER src="{% static 'img/grasancrem.jpg' %}" alt="Changin img" id="imagen">
    <br>
    <div class="progress">
        <img src="{% static 'img/progres.png' %}" name="bar"/>
    </div>
    <br>
    <input id="%" type="text" value="" style= background-color: transparent;/>
    <hr><H2>La Camara denego denuncia de Nisman contra Cristina</H2><hr>
    <img src="{% static 'img/cristina.jpg' %}" alt="denegan denuncia" align="center">
    <br>
    <h3>Dos de los jueces concluyeron que el memorandum con Iran no constituyo ningon delito para encubrir a los autores del ataque. El vocal Farah, a favor de la investigacion.</h3><br>
    <p>Buenos Aires. Tal como se vaticinaba, la Sala I de la Camara Federal confirmo, en voto dividido, la desestimacion de la denuncia penal del fallecido fiscal Alberto Nisman contra la presidenta Cristina Fernandez y el canciller Hector Timerman, entre otros, por presunto encubrimiento de los acusados por el atentado a la Amia mediante el memorandum de entendimiento con Iran.

Los camaristas Jorge Ballestero y Eduardo Freiler ratificaron el fallo del juez Daniel Rafecas que desecho la denuncia por inexistencia de delito, mientras que Eduardo Farah se inclino por hacer lugar a la apelacion de aquella medida efectuada por el fiscal Gerardo Pollicita.

Farah voto por iniciar una investigacion para que se hagan las medidas de prueba solicitadas por el fiscal y que se aparte al juez Rafecas por el tenor de la postura que ya asumio.</p>
    <br>
    <br>
    <nav>
        <div class="boton">
            <li><a href=http://www.lavoz.com.ar/politica/en-fallo-dividido-la-camara-denego-denuncia-de-nisman-contra-cristina>Leer mas</a></li>
        </div> 
    </nav>
    <br>
    <br>
    <hr><h2>El grupo HECATOMBE presento la secdiva a GRASANCREM.</h2><hr>
    <img src="{% static 'img/grasancrem.jpg' %}" alt="El cast de HECATOMBE">
    <br>
    <h3>El grupo cordobes lleno el Cabildo para la presentacion de su nuevo video. Anunciaron un nuevo Concierto entusiasmo, el videojuego y una obra de teatro.</h3><BR>
    <p>Volvio la pesadilla mas divertida. Volvieron los chicos de Hecatombe! Y eso es una forma de decir, ya que hace tiempo llegaron a la Web para quedarse, con una serie de videos graciosos que convirtieron al grupo en un fenomeno con mas de ocho millones de visitas.<br>
    Ayer demostraron el poder de encantamiento con el publico adolescente y juvenil, que colmo el Cabildo para el estreno de la secuela de Grasancrem, el video que les abrio las puertas al exito.<br>
    Y si, se puede hablar de secuela porque fue un video en el que dejaron a un lado el encanto del amateurismo de sus inicios para mostrar el mismo humor que los posiciono bien arriba pero con una produccion más ambiciosa.</p><br>
    <br>
    <br>
    <nav>
        <div class="boton">
            <li><a href=https://www.youtube.com/watch?v=obAMyj0Zgw8>Vea el video</a></li>
        </div> 
    </nav>
    <br>
    <br>
    <br>
    <hr><h2>Orion declaro y la AFA analiza su sancion.</h2><hr>
    <img ALIGN=CENTER src="{% static 'img/orion.jpg' %}" alt="Orion en una entrevista">
        <br>
    <br>
    <h3>El arquero estuvo poco mas de media hora en el edificio de la calle Viamonte. El miercoles proximo se conocera la pena, por su expdivsion ante San Martin de San Juan.</h3><br>
    <p>El arquero de Boca Agustin Orion se presento en la AFA para declarar, tras su expdivsion en el partido del divtimo domingo, que su equipo igualo 1-1 con San Martin en San Juan, por una dura infraccion sobre Carlos Bueno, que le produjo una fractura de tibia y perone derechos al delantero uruguayo.<br>
    El guardavalla llego a la sede que la casa matriz del futbol argentino posee en la calle Viamonte a las 19.50 y opto por el silencio, ante el requerimiento de los periodistas presentes. Treinta y cuatro minutos más tarde atraveso nuevamente la puerta blanca del edificio. Me está esperando mi esposa. Perdon, buenas noches, alcanzó a decir, antes de retirarse. Ahora debera esperar la decisión del Tribunal de Disciplina, que se conocera el miercoles proximo.<br>
    La sancion a Orion, que se encuentra suspendido provisoriamente y no podra jugar el domingo ante Estudiantes -su reemplazante sera Guillermo Sara-, se conocera la semana proxima. De acuerdo con lo establecido en los artícdivos 199 y 201 del Reglamento de Transgresiones y Penas de la AFA, le podria caber una pena de entre 2 y 30 encuentros.</p>
    <br>
    <br>
    <nav>
        <div class="boton">
            <li><a href=http://www.clarin.com/deportes/futbol/boca-juniors/Orion-declaro-AFA-analiza-sancion_0_1327667656.html>Leer mas</a></li>
        </div> 
    </nav>
    <br>
    <br>
    <br>
    <hr><h2>Espionaje en Formosa.</h2><hr>
    <img src="{% static 'img/gildo.jpg' %}" alt="Gildo el espia">
    <br>
    <br>
    <h3>En Formosa existe un aparato de espionaje montado desde lo mas alto del gobierno para informarle al mandatario provincial, Gildo Insfran, que hacen opositores, aborigenes y periodistas. Los mails de la denuncia. Un informe de Telenoche. </h3>
    <p>Si algo le faltaba a esta provincia, manejada por la misma persona desde hace 20 anos, es una denuncia por espionaje ilegal.<br>
    En los divtimos dias se filtraron doscientos correos electronicos que contienen fotografias, grabaciones y hasta informes de inteligencia realizados por la policia provincial. Desde lo mas alto del poder se espia a periodistas, a politicos opositores y tambien a aliados. Es el superagente Gildo.<br>
    Por primera vez, un policia que conoce como funciona el aparato de espionaje y de vigilancia de Insfran, cuenta lo que en Formosa todo el mundo sospecha pero nadie se anime a decir.</p>
    <br>
    <br>
    <nav>
        <div class="boton">
        <li><a href=file:http://tn.com.ar/politica/espionaje-en-formosa-asi-espia-el-superagente-gildo_579143S>Leer mas</a></li>
        </div> 
    </nav>
    </div>
{% endblock %}
{% block scripts %}
    <script>var ruta = "{% static 'img/' %}" </script>
    <script src="{% static 'js/noticias.js' %}"></script>
{% endblock %}